@charset "utf-8";
/* CSS Document */
#main-content {
    width: 75%;
    margin: 0 auto;
}

.normal { 
  width: 80px;
  height: 80px;
  background-color: skyblue;
}
.rotated {
  transform: rotate(45deg); /* Equal to rotateZ(45deg) */
  background-color: pink;
  width: 80px;
  height: 80px;
}
.demo1{
	transform: rotate3d(0);
}

.demo2{
	transform: rotate3d(1, 1, 1, 45deg);
}
.demo3{
	transform: rotate3d(2, -1, -1, -0.2turn);
}
.demo4{
	transform: rotate3d(0, 1, 0.5, 3.142rad);
}
.rotated1 {
  transform: rotate3d(0, 1, 0, 60deg);
  background-color: pink;
    width: 80px;
  height: 80px;
}
.rotated2 {
  transform: rotate3d(1, 2, -1, 192deg);
  background-color: pink;
    width: 80px;
  height: 80px;
}
